@font-face {
    font-family: 'Netflix Sans';
    src: url(../fonts/NetflixSans-Light.woff2);
}

@font-face {
    font-family: 'icones';
    src: url(../fonts/nf-icons.ttf);
}

body {
    background-color: #000;
    font-family: 'Netflix Sans', 'icones', sans-serif;
    font-size: 16px;
    color: #fff;
}

h1 {
    font-size: 1.625rem;
    font-weight: 700;
    margin: 0 0 0.4em;
    text-align: center;
}

h2 {
    font-size: 1.125rem;
    margin: 0.75em 0 0.25em;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* ----- Header ----- */

header {
    height: 0;
    display: flex;
    position: relative;
    margin: 30px 5% -40px;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 10;
}

.header__logo {
    width: 90px;
}

.header__seletor-botao {
    display: flex;
    align-items: center;
}

.header__seletor-wrapper {
    border: 1px solid #aaa;
    border-radius: 2px;
    line-height: 1.3em;
    white-space: nowrap;
    font-size: 0.9rem;
    padding: 0.3rem 1.375rem;
    margin: 0 0.75rem;
    position: relative;
}

.header__seletor-wrapper::before {
    position: absolute;
    font-size: .75rem;
    top: 20%;
    left: .4rem;
    content: "\e896";
}

.header__seletor-wrapper::after {
    position: absolute;
    right: 10px;
    top: 20%;
    content: "\e898";
    font-size: 6px;
}

.seletor-lang {
    background-color: rgba(0, 0, 0, 0);
    line-height: 1.3em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.header__botao-login {
    background-color: #e50914;
    border-radius: 3px;
    padding: 0.4rem 0.5rem;
    font-size: .9rem;
}


/* ----- Primeira Parte ----- */

.comecar {
    background-image: url(../img/bg-first-page.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 8px solid #222;
    margin-bottom: 0;
    position: relative;
    height: 555px;
    line-height: 1.1;
}

.comecar::before {
    content: '';
    height: 135px;
    display: block;
    background: linear-gradient(360deg, rgba(0,0,0,0.35) 0%, #000 85%);
}

.comecar::after {
    content: '';
    height: 6.25%;
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) -200%, #000 200%);
}

.comecar__container {
    padding: 1.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, #000 200%);;
    text-align: center;
}

.comecar__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.comecar__legenda {
    font-size: 1.125rem;
    margin: 1rem auto;
}

.comecar__formulario {
    display: flex;
    flex-direction: column;
}

.formulario__titulo {
    padding: 0 10%;
    font-size: 1.125rem;
}

.formulario__requisicao-email {
    text-align: center;
}

.formulario__escreve-email {
    margin: 10px auto;
    height: 48px;
    padding: 10px 10px 0;
    width: 100%;
    color: #000;
    border-radius: 2px;
    border: 1px solid #8c8c8c;
    -webkit-appearance: none;
    appearance: none;
    font-size: 1rem;
    box-sizing: border-box;
    box-shadow: none;
}

.formulario__escreve-email::placeholder {
    color: #8c8c8c;
    font-size: 14px;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.formulario__botao-comecar {
    display: flex;
    background-color: #e50914;
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
    align-items: center;
}

.comecar__icone {
    padding-left: 5px;
}


/* ----- Televisor ----- */

.televisor {
    padding: 50px 7%;
    line-height: 1.1;
    border-bottom: 8px solid #222;
}

.televisor__titulo {
    font-size: 1.625rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: .5rem;
}

.televisor__dispositivos {
    font-size: 1.125rem;
    text-align: center;
    margin: 0.75em 0 0.25em;
}

.televisor__animacao {
    margin: -10% 2% 0;
    overflow: hidden;
    position: relative;
}

.televisor__animacao img {
    position: relative;
    z-index: -1;
    max-width: 100%;
    border: 0;
    height: auto;
}

.televisor__video {
    height: 100%;
    left: 50%;
    max-height: 54%;
    max-width: 73%;
    position: absolute;
    top: 46%;
    transform: translate(-50%,-50%);
    width: 100%;
    z-index: -2;
}

video {
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: baseline;
}

.televisao__container {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    height: 100%;
    margin-top: 1em;
    max-width: 600px;
    width: 100%;
}


/* ----- Transferir ----- */

.transferir {
    padding: 50px 5%;
    border-bottom: 8px solid #222;
    line-height: 1.1;
}

.transferir__textos {
    text-align: center;
}

.transferir__titulo {
    font-size: 1.625rem;
    font-weight: 700;
    margin: 0 0 0.4em;
}

.transferir__legenda {
    font-size: 1.125rem;
    margin: 0.75em 0 0.25em;
}

.transferir__container {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    height: 100%;
    margin-top: 1em;
    max-width: 600px;
    width: 100%;
}

.transferir__animacao {
    margin: -8% 0 0;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.transferir__animacao img {
    max-width: 100%;
    height: auto;
}

.container-animacao {
    align-items: center;
    background: #000;
    border: 2px solid hsla(0,0%,100%,.25);
    border-radius: 0.75em;
    bottom: 8%;
    box-shadow: 0 0 2em 0 #000;
    display: flex;
    left: 50%;
    margin: 0 auto;
    min-width: 15em;
    position: absolute;
    transform: translateX(-50%);
    width: 70%;
    padding: 0.35em 0.75em;
}

.animacao__capa {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 1em 0 0;
}

.animacao__capa img {
    height: 3em;
}

.animacao__textos {
    flex-grow: 1;
    flex-shrink: 1;
    margin: .3em 0;
}

.animacao__titulo {
    font-size: .9rem;
    font-weight: 600;
}

.animacao__legenda {
    color: #0071eb;
    font-size: .7rem;
    margin-top: .2rem;
}

.animacao__download {
    background: url(../img/download-icon.gif);
    background-size: 100%;
    content: "";
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    height: 3em;
    outline: 2px solid #000;
    outline-offset: -2px;
    width: 3em;
}


/* ----- Dispositivos ----- */

.dispositivos {
    border-bottom: 8px solid #222;
    padding: 50px 5%;
    text-align: center;
    line-height: 1.2;
}

.dispositivos .televisor__video {
    max-height: 47%;
    max-width: 63%;
    top: 34%;
}

.dispositivos .televisao__container {
    margin-top: 2.5em;
}

.criancas {
    padding: 50px 5%;
    border-bottom: 8px solid #222;
    text-align: center;
    line-height: 1.2;
}

.criancas .televisao__container {
    margin-top: 3em;
}

.faq {
    padding: 50px 0;
    line-height: 1.2;
    border-bottom: 8px solid #222;
}

.faq__lista {
    margin: 1.25rem auto;
}

.faq__item {
    font-size: 1.125rem;
    margin-bottom: 1px;
    padding: 0.8em 2.2em 0.8em 1.2em;
    position: relative;
    width: 100%;
    background: #303030;
    margin-bottom: 8px;
    font-weight: 600;
}

button {
    display: contents;
}

.faq__item ion-icon {
    float: right;
    transform: translateX(100%);
    font-size: 2rem;
}

.faq form {
    padding: 0 5%;
    text-align: center;
    font-weight: 600;
}


footer {
    color: #737373;
    font-size: 13px;
    padding: 50px 5%;
}

.footer__textos {
    margin: 0 5% 10%;
}

.footer__ligue {
    font-size: 16px;
    margin-bottom: 30px;
}

.footer__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.2rem;
    width: 100%;
}

footer .header__seletor-wrapper {
    width: fit-content;
    font-size: 16px;
    font-weight: 700;
    padding: .7rem 2rem;
    border: .5px solid #737373;
    margin-bottom: 5%;
}

footer .header__seletor-wrapper::before {
    font-size: 16px;
    top: 14px;
}

footer .header__seletor-wrapper::after {
    right: 15px;
    top: 30%;
}

.footer__pais {
    padding: 0 5%;
}